# An치lisis Demogr치fico de Ingresos y Educaci칩n en Adultos: Exploraci칩n de Factores Socioecon칩micos en Diversos Pa칤ses

In [1]:
#Importamos la librer칤a pandas
import pandas as pd

You can download dataset here: 游녢游녢

https://github.com/WLozanoH/projects_freecodecamp/blob/main/projects/adult.data.csv

In [2]:
#cargamos el archivo 'csv'

df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info() #no hay valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

# Answer to question 游늴游닄

游늷 * Pregunta 1: 쮺u치ntas personas de cada raza est치n representadas en este set de datos?

In [4]:
race_count = df['race'].value_counts()
for  race in race_count.index:
    print(f"race: '{race}' - count: {race_count[race]}")

race: 'White' - count: 27816
race: 'Black' - count: 3124
race: 'Asian-Pac-Islander' - count: 1039
race: 'Amer-Indian-Eskimo' - count: 311
race: 'Other' - count: 271

游꿢 Respuesta 1: 

Las razas de las personas en este set de datos est치n distribu칤das de la siguiente manera:

        race: 'White' - count: 27816
        race: 'Black' - count: 3124
        race: 'Asian-Pac-Islander' - count: 1039
        race: 'Amer-Indian-Eskimo' - count: 311
        race: 'Other' - count: 271

游늷 Pregunta 2: 쮺u치l es la edad promedio de los hombres?

In [5]:
promedio_edad_hombres = df.loc[df['sex']=='Male']['age'].mean()
promedio_edad_hombres = round(promedio_edad_hombres)
print(f'la edad promedio de los hombres es de: {promedio_edad_hombres} a침os.')

la edad promedio de los hombres es de: 39 a침os.

游꿢 Respuesta 2: 

        la edad promedio de los hombres en este set de datos es de: 39 a침os.

* Pregunta 3: 쮺u치l es el porcentaje de personas que tienen un grado de licenciatura (Bachelor's degree)?

In [6]:
# paso 1: filtrar personas con 'education' == 'Bachelors'
degree_bachelor = df[df['education']== 'Bachelors']

# paso 2: hallar el total de personas con 'education' = 'Bachelors'
total_degree_bachelor = len(degree_bachelor)

# paso 3: hallar el total de personas con educacion.
count_df = len(df)
count_df

# paso4: hallar el porcentaje de personas que tienen licenciatura 'Bachelors' en este set de datos

porcentaje_bachelor = (total_degree_bachelor/count_df)*100
porcentaje_bachelor = round(porcentaje_bachelor,2)

print(f"En este set de datos:\n\n  El porcentaje de personas  con Educaci칩n = 'Bachelor' es: {porcentaje_bachelor}%.")

En este set de datos:

  El porcentaje de personas  con Educaci칩n = 'Bachelor' es: 16.45%.

游꿢  Respuesta 3: 

        El porcentaje de personas  con Educaci칩n = 'Bachelor' es: 16.45%.

* Pregunta 4: 쯈u칠 porcentaje de personas con una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k?

In [7]:
#paso 1: filtrar datos por educacion avanzada, educacion = (['Bachelors','Masters', 'Doctorate'])
education_advance = df[df['education'].isin(['Bachelors','Masters', 'Doctorate'])]

#paso 2: hallar el total de personas con  educacion avanzada
total_count_advance = len(education_advance)

#paso 3: filtrar las personas que ganan mas de 50K, con educacion avanzada
high_salary = education_advance[education_advance['salary']== '>50K']

#paso 4:  contar el total de personas que ganan mas de 50K, con educacion avanzada
count_high_salary = len(high_salary)

#paso 5: porcentaje  de personas que ganan mas de 50K, con educacion avanzada
porcentaje = (count_high_salary/total_count_advance) *100
porcentaje = round(porcentaje,2)

print(f"El porcentaje de personas con una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:\n\nporcentaje: {porcentaje}%.")

El porcentaje de personas con una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:

porcentaje: 46.54%.

游꿢 Respuesta 4:

El porcentaje de personas con una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:

        porcentaje: 46.54%.

游늷 Pregunta 5: 쯈u칠 porcentaje de personas sin una educaci칩n avanzada generan m치s de 50k?

In [8]:
#paso 1: filtrar datos sin educacion avanzada, educacion = (['Bachelors','Masters', 'Doctorate'])
sin_education_advance = df[~df['education'].isin(['Bachelors','Masters', 'Doctorate'])]

#paso 2: hallar el total de personas sin  educacion avanzada
total_count_sin_advance = len(sin_education_advance)

#paso 3: filtrar las personas que ganan mas de 50K, sin educacion avanzada
high_salary = sin_education_advance[sin_education_advance['salary']== '>50K']

#paso 4:  contar el total de personas que ganan mas de 50K, sin educacion avanzada
count_high_salary = len(high_salary)

#paso 5: porcentaje  de personas que ganan mas de 50K, sin educacion avanzada
porcentaje = (count_high_salary/total_count_sin_advance) *100
porcentaje = round(porcentaje,2)

print(f"El porcentaje de personas sin una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:\n\nporcentaje: {porcentaje}%.")

El porcentaje de personas sin una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:

porcentaje: 17.37%.

游꿢 Respuesta 5: 

    El porcentaje de personas sin una educaci칩n avanzada (Bachelors, Masters o Doctorate) ganan m치s de 50k es:

        porcentaje: 17.37%.

游늷 Pregunta 6: 쮺u치l es el m칤nimo n칰mero de horas que una persona trabaja por semana?

In [9]:
min_hours = df['hours-per-week'].min()
print(f"El m칤nimo de horas trabajadas por semana es: {min_hours} hora.")

El m칤nimo de horas trabajadas por semana es: 1 hora.

游꿢  Respuesta 6: 

        El minimo de horas trabajadas por semana es: 1 hora.

游늷 Pregunta 7: 쯈u칠 porcentaje de personas que trabajan el m칤nimo de horas por semana tiene un salario de m치s de 50k?

In [10]:
#paso 1: hallar el minimo de horas trabajadas por semana
min_hours = df['hours-per-week'].min()

#paso 2: filtrar las personas que trabajan el minimo de horas
min_hours_workers = df[df['hours-per-week']== min_hours]

#paso 3: calcular el total de personas que trabajan el minimo de horas
total_min_hours_workers = len(min_hours_workers)

#paso 4: hallar el total de personas que ganan  mas de 50K y que trabajan el minimo de horas
min_hours_high_salary = len(min_hours_workers[min_hours_workers['salary'] == '>50K'])

#paso 5: hallar el porcentaje  de personas que ganan mas de 50K y que trabajan el minimo de horas
porcentaje = (min_hours_high_salary/total_min_hours_workers)*100
porcentaje = round(porcentaje,2)

print(f"El porcentaje de personas que ganan mas de 50K y trabajan un minimo de horas a la semana es:\n\n  Porcentaje: {porcentaje}%.")

El porcentaje de personas que ganan mas de 50K y trabajan un minimo de horas a la semana es:

  Porcentaje: 10.0%.

游꿢 Respuesta 7: 

El porcentaje de personas que ganan mas de 50K y trabajan un minimo de horas a la semana es:

    Porcentaje: 10.0%.

* Pregunta 8: 쯈u칠 pa칤s tiene el porcentaje m치s alto de personas que ganan >50k y cu치l es ese porcentaje?

In [11]:
# paso 1: agrupamos por pais y contamos por salario con value_counts()
salary_counts = df.groupby('native-country')['salary'].value_counts()

#paso 2: lo convertimos en un data frame con unstack()
salary_counts = salary_counts.unstack()

#paso 3: calculamos el porcentaje

#calculamos el salario por pa칤s
salary_counts['total'] = salary_counts['<=50K'] + salary_counts['>50K']
salary_counts['>50K'] =  (salary_counts['>50K'] / salary_counts['total']) * 100

# paso 4: calculamos el porcentaje del salario por pa칤s mayor a 50k
#filtramos el pais por el 칤ndice
country_max_percentage = salary_counts['>50K'].idxmax()

#porcentaje mas alto de ese pa칤s:
max_percentage = salary_counts['>50K'].max()
max_percentage = round(max_percentage,2)

print(F"Pa칤s con el porcentaje de personas con salario mayor a 50K\n\n Pa칤s: {country_max_percentage}\n Porcentaje: {max_percentage}%.")

Pa칤s con el porcentaje de personas con salario mayor a 50K

 Pa칤s: Iran
 Porcentaje: 41.86%.

游꿢 Respuesta 8:

Pa칤s con el porcentaje de personas con salario mayor a 50K

        Pa칤s: Iran
        Porcentaje: 41.86%.

游늷 Pregunta 9: Identifica la ocupaci칩n m치s popular de aquellos que ganan >50k en India.

In [12]:
# Paso 1: Filtrar data por pa칤s = 'India' y 'salary' = '>50K'
filtered_df = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

# Paso 2: Hallar la ocupacion mas popular con el filtrado anterior
occupation_popular = filtered_df['occupation'].value_counts()

# Paso 3: Determinar la ocupacion mas popular
most_popular_occupation = occupation_popular.idxmax()
count_popular_occupation = occupation_popular.max()

print(f"La ocupacion m치s popular en la india de aquellas personas que ganan m치s de 50K es:\n\n Ocupacion: {most_popular_occupation}\n Count: {count_popular_occupation}")

La ocupacion m치s popular en la india de aquellas personas que ganan m치s de 50K es:

 Ocupacion: Prof-specialty
 Count: 25

游꿢 Respuesta 9: 

La ocupacion m치s popular en la india de aquellas personas que ganan m치s de 50K es:

    Ocupacion: Prof-specialty
    Count: 25

九勇  Conclusiones: 

Este an치lisis demogr치fico proporciona informaci칩n valiosa a partir del dataset descargado, con preguntas clave que destacan aspectos importantes relacionados con raza, educaci칩n, salario y ocupaci칩n. A continuaci칩n, se resumen los puntos m치s importantes:

1. *Distribuci칩n racial:*

        La mayor representaci칩n en el conjunto de datos corresponde a personas identificadas como blancas, seguidas por negros y asi치tico-pac칤ficos. La menor representaci칩n es de personas clasificadas como "Other".

2. *Edad promedio de los hombres:* 

        La edad promedio de los hombres en este dataset es de 39 a침os.

3. *Porcentaje de personas con educaci칩n de licenciatura:*

        Aproximadamente el 16.45% de las personas tienen una licenciatura.

4. *Educaci칩n avanzada y salario mayor a 50k:* 

        Casi la mitad (46.54%) de las personas con un t칤tulo avanzado (licenciatura, maestr칤a o doctorado) ganan m치s de 50k.

5. *Personas sin educaci칩n avanzada y salario mayor a 50k:*

        Solo el 17.37% de las personas sin educaci칩n avanzada ganan m치s de 50k.

6. *M칤nimo de horas trabajadas por semana:*

        La m칤nima cantidad de horas trabajadas por semana es 1 hora.

7. *Personas que trabajan el m칤nimo de horas y ganan m치s de 50k:* 

        Solo el 10% de las personas que trabajan el m칤nimo de horas ganan m치s de 50k.

8. *Pa칤s con mayor porcentaje de personas que ganan >50k:* 

        Ir치n tiene el porcentaje m치s alto, con un 41.86% de personas que ganan m치s de 50k.

9. *Ocupaci칩n m치s popular entre los que ganan >50k en India:*

        La ocupaci칩n m치s com칰n es "Prof-specialty", con 25 personas en esta categor칤a.

Este an치lisis resalta c칩mo ciertas variables, como la educaci칩n y la ocupaci칩n, influyen significativamente en los ingresos, y c칩mo los datos sociodemogr치ficos var칤an entre diferentes grupos dentro del conjunto de datos.